<!--    Flask uses Jinja to make the templates
        Ref: https://jinja.palletsprojects.com/en/stable/templates/
        
        General HTML Docs
        Ref: https://developer.mozilla.org/en-US/docs/Web/HTML-->
<!DOCTYPE html>
<html>

<body style="background-color:lightskyblue;">

<form action="/fetch_rss" method="get">
    <input type="text" id="rss_get" name="rss_search" />
    <button action="submit">"Search"</button>
</form>


<ol>
    {% for result in results %}
    <ul> 
        <h3> {{ result[0]['title'] }} </h3> 
        <a> {{result[0]['summary']}} </a>
        <br></br>
        <a href="{{result[0]['link']}}"> {{result[0]['link']}}</a>
        <br></br>
        <a> Fetched time: {{ result[0]['fetch_date'] }}</a>
        <br></br>
    </ul>
    {% endfor %}
</ol>

</body>

</html>